.movieCard {
  list-style: none;
  font-size: 1.5rem;
  text-align: center;
}
.movieTitle {
  font-family: "Arial", sans-serif; /* Ajusta la fuente según tus preferencias */
  color: black; /* Cambia el color de las letras a negro */
  font-size: 1.2rem; /* Ajusta el tamaño de la fuente según tus preferencias */
}


.movieCard:hover {
  opacity: 0.8;
}

.movieImage {
  border-radius: 10px;
  background-color: rgb(0, 153, 153);
}

@media (max-width: 560px) {
  .movieImage {
    width: 90%;
    height: auto;
  }
}
